<%- include ("./_header.ejs") %>
<%- include ("./navbar.ejs") %>

<link rel="stylesheet" type="text/css" href="../../css/allPosts.css">

  <div class="container newPost">
    <a href="/newPost" class="btn-custom">Create New Post</a>
  </div>

  <main role="main" class="container">

    <div class="list">
      <!--  TABLA CON LOS DATOS-->

      <% for (var i=0; i <blogPosts.length; i++){ %>

      <% blogPosts[i].post_date = new Date(blogPosts[i].post_date) %>
        <div class="postCard">
          
            <div class="postCardDateColumn">
              <div class="postCardDate">
              <%= new Intl.DateTimeFormat("es-MX", {
                month: "long",
              }).format(blogPosts[i].post_date).toLocaleUpperCase() %>
              <hr class="hrDate">
              <%= new Intl.DateTimeFormat("es-MX", {
                day: "numeric",
              }).format(blogPosts[i].post_date) %>
            </div>

            </div>

            <div class="postCardMain">
              <% if (blogPosts[i].img_url) {%>
                <img class="imgCard" src="<%= blogPosts[i].img_url %>">
              <% } %>
              <h2>
                <%= i +1 %>
                  <%= blogPosts[i].title %>
              </h2>
              <h4>
                <%= blogPosts[i].author %>
              </h4>
              <p>
                <%= blogPosts[i].post_data %>
              </p>
              <%if (hId == "60c1598ebfe5e41c518a0cdc") { %> 
                <div class="PostCardBtns">
                <a class="btn btn-danger" href="/delete/<%= blogPosts[i]._id %>"> Delete</a>
                <a class="btn btn-info" href="/edit/<%= blogPosts[i]._id %>"> Edit</a>
              </div>
              <% } %>
              <div class="publicPostCardBtns">
                <a class="btn btn-info" href="/single/<%= blogPosts[i]._id %>"> Ver más</a>
              </div>
          </div>
          </div> 
          <hr>
          <% } %>
           
        
    </div>
  </main>