<%- include ("./partials/_header") %>
<%- include ("./partials/navbar") %>


<main role="main" class="container" style="padding:20px 0">
    <div class="row">
      <div class="col-md-8 blog-main">
        <!-- 6 -> volver a routes -->
        <form action="/edit/<%= blogPost._id %>" method="post">
          <div class="form-group">
            <input type="text" class="form-control" name="title" placeholder="Title" value=<%=blogPost.title %>>
          </div>
          <div class="form-group">
            <input type="text" name="author" class="form-control" placeholder="Author" value=<%=blogPost.author %>>
          </div>
            <div class="form-group">
              <input type="text" class="form-control" name="img_url" placeholder="Image Url" value=<%=blogPost.img_url %>>
            </div>

          <div class="form-group">
            <textarea class="form-control" name="post_data" cols="100" rows="10"
              placeholder="Add a short Description" ><%=blogPost.post_data %></textarea>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="post_data_long" cols="100" rows="10"
              placeholder="Add a long Description" ><%=blogPost.post_data_long %></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </main>

<%- include ("./partials/_footer") %>