<%- include ("./partials/_header") %>
<%- include ("./partials/navbar") %>

<% if (logErrors != undefined) { %>
  <script>
    window.alert("incorrect user or password");
  </script>
<% } %>
<% if (title == "login") { %>

    <!doctype html>
    <html lang="en">
      <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title>Edu-Blog</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/blog/">
    
        <!-- Bootstrap core CSS -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    
        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/4.0/examples/blog/blog.css" rel="stylesheet">
        
        <link href="/css/login.css" rel="stylesheet">
    
      </head>
    
    
      <body>
        <main role="main" class="container">
<%  } else {  %>

    <%- include ("./partials/_header") %>

    <%  }    %>
          <form id="sign-in-form" class="form-signin" action="/user/signin" method="POST" style="margin-top: 30px;text-align: center;">
            <img class="mb-4" src="/img/logo.png" alt="" width="72" height="72">
            <h1>Please sign in</h1>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            <a href="/user/register" class="btn btn-lg btn-secondary btn-block role="button">Register</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
          </form>

  <% if (title == "login") { %>

          
          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        </main>
        </body>
        </html>

<%  } else {  %>

    <%- include ("./partials/_footer") %>

    <%  }    %>

<%- include ("./partials/_footer") %>